<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/files.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Explorer Help Page</title>
</head>
<body>
  <main>
    <header>
      <h1>File Uploader Help Topics</h1>
    </header>
    <article>
    <h2>Here's how to navigate in the File Uploader.</h2>
    
    <ul>
      <li>Click on the green bar to view available options like 'New Folder' or 'Manage Sharing'</li>
      <li>To edit the name of a folder, make sure it is the currently selected folder (displayed in the green bar) and then click the name to edit it.
        If it is sub-folder, you must first click it to make it the selected folder before you can edit its name or view applicable menu actions for it.</li>
      </li>
    </ul>
    </article>
  </main>
</body>
</html>