* {
  
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 3ch;
}

main {
  padding: 1ch;
  max-width: clamp(350px,100%,100vw)
}

h2 {
  margin-top: 3ch;
}
main section:first-of-type {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #21a99254;
  margin-top: 3ch;
  user-select: none;
  
  > span:first-of-type:hover {
    cursor: help;
    background-color: #8effdb;
  }

  > span:first-of-type {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    min-width: 100%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1ch;
    font-weight: 600;
    padding: .1ch 1ch;
    
    > form > input {
      background-color: transparent;
      border: none;
    }
    
    > form > input:last-of-type:hover {
      background-color: #ffeb3b;
      font-weight: 500;
    }
  }
}


.context-menu, .burger-menu, .file-menu {
  position: absolute;
  background: #cce2db9e;
  border: .5px solid black;
}

.context-menu ul:first-of-type, .file-menu ul:first-of-type {
  background-color: white;
  padding: 1rem;
  margin: 0px;
  min-width: 150px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  column-gap: 1ch;
  
  > li {
    border: none;
  }
}

.context-menu ul li, .file-menu ul li {
  
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 5px;
  border: .5px solid black;
  font-size: small;
  
  > a {
    padding:  5px;
  }
  > span:nth-child(2) {
    font-weight: 550;
  }
}

.context-menu ul li a, .file-menu ul li a {
  text-decoration: none;
  color: black;
}

.context-menu ul:nth-child(2) li, .file-menu ul:nth-child(2) li {
  text-align: center;
  
  button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    outline: inherit;
    font-family: inherit;
    padding-inline: inherit;
    padding-block: inherit;
  }
}
.context-menu ul:nth-child(2) li:hover , .file-menu ul:nth-child(2) li:hover {
  background: #21a99254;
}

#create-new-folder, #upload-file {
  display: none;
  padding: 0px 2px;
  background-color: #ffab0070;
}

#upload-file button[type="submit"] {
  background-color: white;
}


button:has(img) {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

main > div > section:last-of-type {
  margin-left: 2ch;
  margin-top: 2ch;
  display: grid;
  row-gap: 2ch;
  column-gap: 2px;
  grid-template-rows: auto;
  max-width: 560px;
  grid-template-columns: calc(100% - 64px - 4px - 16px) 32px 32px;
}

main > div > section:last-of-type > form {
  grid-column: 1 / -1;
  /*display: grid;*/
  grid-template-columns: subgrid;
  grid-template-rows: auto;
  align-items: center;
  justify-content: flex-start;
}

button, img {
  
  user-select: none;
}

#upload-status {
  display: none;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  background-color: chartreuse;
  font-size: larger;
  font-weight: 600;
  color: #1806ba;
}

.folders {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 1ch;
}

.contents {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  column-gap: 1ch;
}


.errors {
  list-style-type: none;
  color: rgb(186, 1, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: small;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ffcfcf;
  border-radius: 10px;
  padding: .5ch 1ch;
  font-weight: 550;
  text-shadow: 1px 1px 3px white;
}

#burger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1ch;
  
  > button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    
    > img {
      height: 2rem;
      background-color: inherit;
    }
  }
}

.context-menu {
  display: none;
}

.burger-menu {
  display: none;
  background-color: white;
  padding: 1rem;
  
  > ul {
    list-style-type: none;
  }
}
