* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;
  font-size: calc(.7em + 1vw);
  > div {
    min-width: min(100vw-1rem,450px);
    
  }
  > h2 {
    font-size: 1rem;
  }
  
  > main {
    
    max-width: clamp(350px,100%,100vw)
  }
}

form {
  display: flex;
  row-gap: 1rem;
  column-gap: .5rem;
  border: 1px dotted gray;
  padding: 2rem;
  
  > legend {
    grid-column: 1 / -1;
    font-size: small;
  }
  > button {
    grid-column: 1 / -1;
    margin-top: 2rem;
    padding: 5px;
  }
}
input {
  padding-left: 1ch;
}

input:invalid {
  border: 1px solid red;
}
input:valid {
  border: 1px solid green;
}

.errors {
  list-style-type: none;
  color: rgb(186, 1, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  font-size: small;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #ffcfcf;
  border-radius: 10px;
  padding: .5ch 1ch;
  font-weight: 550;
  text-shadow: 1px 1px 3px white;
}

button {
  padding: 1ch 2ch;
}
